@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    position: fixed;
    width: 100vw;
    height: 55px;
    background-color: #ffffff9f;
}
.nav-wrapper {
    width: 100vw;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left {
    display: flex;
    margin-left: 70px;
}
.header-logo {
    width: 40px;
    height: 40px;
}
.nav {
    margin-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}
.services-main-container {
    position: relative;
}
.services-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-container {
    position: absolute;
    top: 50px;
    left: -100px;
    background-color: #fff;
    width: 300px;
    height: 700px;
    border-radius: 5px;
}
.services-container.inactive {
    display: none;
}
.services-container.active {
    display: flex;
}
.nav-item {
    cursor: pointer;
    color: rgb(62, 62, 62);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    transition: .3s;
}
.service-arrow {
    margin-left: 7px;
    color: rgb(62, 62, 62);
}
.mng-link {
    color: rgb(62, 62, 62);
    transition: .7s;
}
.nav-item:hover, .mng-link:hover {
    color: rgb(26, 26, 26);
}
.service-card {
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.service-card_balance {
    transition: .3s;
}
.service-card_balance:hover {
    background-color: #d2d2d2;
}
.service-card_piggy {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.service-card_balance-text {
    color: rgb(72, 72, 72);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.service-card_balance-arrow {
    position: absolute;
    right: 20px;
    color: black;
}
.nav-right {
    width: fit-content;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
}
.exchange-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    height: 55px;
}
.exchange-value-container:hover {
    border-bottom: 3px solid #ad98ff;
}
.exchange-value-text {
    color: rgb(62, 62, 62);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.exchange-value-container:hover .exchange-value-text {
    transform: translateY(1px);
}
.exchange-value-text span {
    color: rgb(37, 37, 37);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    border: 1px solid #ad98ff;
    border-radius: 50px;
    transition: .3s;
}
.login-container:hover {
    background-color: #ad98ff;
}
.login-icon {
    margin-right: 15px;
    font-size: 17px;
    color: rgb(62, 62, 62);
}
.header-login-text {
    color: rgb(62, 62, 62);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
main {
    width: 100vw;
    height: 100vh;
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

@keyframes arrowUpDown {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
@keyframes arrowDownUp {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0);
    }
}